In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import summary_table

In [2]:
df = pd.read_csv('./Data/Q1.2data.CSV')
rf_df = pd.read_csv('./Data/risk-free rate.csv')
rm_df = pd.read_csv('./Data/IDX_Idxtrdmth.csv')

In [3]:
df.head()

    Stkcd      Trdmnt    Mretwd
0  600000  2013-01-01  0.157258
1  600000  2013-02-01 -0.036585
2  600000  2013-03-01 -0.084087
3  600000  2013-04-01 -0.024679
4  600000  2013-05-01  0.059717

In [4]:
rf_df = rf_df[['Clsdt', 'Nrrmtdt']]
rf_df = rf_df.iloc[2:]
rf_df.head()

        Clsdt Nrrmtdt
2  2013-01-01  0.2466
3  2013-01-02  0.2466
4  2013-01-03  0.2466
5  2013-01-04  0.2466
6  2013-01-05  0.2466

In [5]:
rm_df.head()

   Indexcd       Month    Idxrtn
0      300  2013-01-01  0.064975
1      300  2013-02-01 -0.005045
2      300  2013-03-01 -0.066675
3      300  2013-04-01 -0.019148
4      300  2013-05-01  0.065018

In [8]:
df['rf'] = 0
df['rm'] = 0

## Merge rm and rf

In [24]:
rf_dict = {}

for idx in tqdm(range(rf_df.shape[0])):
    row = rf_df.iloc[idx]
    rf_dict[row['Clsdt']] = row['Nrrmtdt']

100%|██████████| 2372/2372 [00:00<00:00, 8001.51it/s]

In [26]:
rm_dict = {}

for idx in tqdm(range(rm_df.shape[0])):
    row = rm_df.iloc[idx]
    rm_dict[row['Month']] = row['Idxrtn']

100%|██████████| 72/72 [00:00<00:00, 4391.05it/s]

In [22]:
df.head()

    Stkcd      Trdmnt    Mretwd  rf  rm
0  600000  2013-01-01  0.157258   0   0
1  600000  2013-02-01 -0.036585   0   0
2  600000  2013-03-01 -0.084087   0   0
3  600000  2013-04-01 -0.024679   0   0
4  600000  2013-05-01  0.059717   0   0

In [32]:
def merge(row):
    date = row['Trdmnt']
    rf = rf_dict[date]
    rm = rm_dict[date]
    row['rf'] = rf
    row['rm'] = rm
    return row

df = df.apply(merge, axis=1)

In [50]:
df.describe()

               Stkcd        Mretwd           rf            rm
count   78252.000000  77734.000000  78252.00000  78252.000000
mean   601092.963771      0.008755      0.16647      0.003407
std      1127.922839      0.156419      0.05487      0.067364
min    600000.000000     -0.804029      0.12410     -0.210376
25%    600333.000000     -0.065776      0.12410     -0.028105
50%    600685.000000     -0.002782      0.12410      0.004013
75%    601212.000000      0.066295      0.24660      0.031297
max    603999.000000      5.729560      0.24660      0.258075

In [52]:
df['Mretwd'] = df['Mretwd'].astype(float)
df['rf'] = df['rf'].astype(float)
df['rm'] = df['rm'].astype(float)

In [33]:
df.head()

    Stkcd      Trdmnt    Mretwd      rf        rm
0  600000  2013-01-01  0.157258  0.2466  0.064975
1  600000  2013-02-01 -0.036585  0.2466 -0.005045
2  600000  2013-03-01 -0.084087  0.2466 -0.066675
3  600000  2013-04-01 -0.024679  0.2466 -0.019148
4  600000  2013-05-01  0.059717  0.2466  0.065018

In [34]:
df.to_csv("merged.csv")