In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import summary_table

In [2]:
df = pd.read_csv('./Data/Q1.2data.CSV')
rf_df = pd.read_csv('./Data/risk-free rate.csv')
rm_df = pd.read_csv('./Data/IDX_Idxtrdmth.csv')

In [3]:
df.head()

    Stkcd      Trdmnt    Mretwd
0  600000  2013-01-01  0.157258
1  600000  2013-02-01 -0.036585
2  600000  2013-03-01 -0.084087
3  600000  2013-04-01 -0.024679
4  600000  2013-05-01  0.059717

In [5]:
df.describe()

               Stkcd        Mretwd
count   78252.000000  77734.000000
mean   601092.963771      0.008755
std      1127.922839      0.156419
min    600000.000000     -0.804029
25%    600333.000000     -0.065776
50%    600685.000000     -0.002782
75%    601212.000000      0.066295
max    603999.000000      5.729560

In [4]:
rf_df = rf_df[['Clsdt', 'Nrrmtdt']]
rf_df = rf_df.iloc[2:]
rf_df.head()

        Clsdt Nrrmtdt
2  2013-01-01  0.2466
3  2013-01-02  0.2466
4  2013-01-03  0.2466
5  2013-01-04  0.2466
6  2013-01-05  0.2466

In [6]:
rf_df.describe()

             Clsdt Nrrmtdt
count         2372    2372
unique        2372       7
top     2015-08-18  0.1241
freq             1    1346

In [7]:
rm_df.head()

   Indexcd       Month    Idxrtn
0      300  2013-01-01  0.064975
1      300  2013-02-01 -0.005045
2      300  2013-03-01 -0.066675
3      300  2013-04-01 -0.019148
4      300  2013-05-01  0.065018

In [8]:
rm_df.describe()

       Indexcd     Idxrtn
count     72.0  72.000000
mean     300.0   0.004880
std        0.0   0.070228
min      300.0  -0.210376
25%      300.0  -0.024496
50%      300.0   0.004037
75%      300.0   0.039073
max      300.0   0.258075

In [9]:
df['rf'] = 0
df['rm'] = 0

## Merge rm and rf
Merge stock's return, rm, and rf into a single csv file

In [11]:
rf_dict = {}

for idx in tqdm(range(rf_df.shape[0])):
    row = rf_df.iloc[idx]
    rf_dict[row['Clsdt']] = float(row['Nrrmtdt'])/100

100%|██████████| 2372/2372 [00:00<00:00, 3210.33it/s]

In [12]:
rm_dict = {}

for idx in tqdm(range(rm_df.shape[0])):
    row = rm_df.iloc[idx]
    rm_dict[row['Month']] = row['Idxrtn']

100%|██████████| 72/72 [00:00<00:00, 1680.01it/s]

In [14]:
def merge(row):
    date = row['Trdmnt']
    rf = rf_dict[date]
    rm = rm_dict[date]
    row['rf'] = rf
    row['rm'] = rm
    return row

df = df.apply(merge, axis=1)

In [15]:
df.describe()

               Stkcd        Mretwd            rf            rm
count   78252.000000  77734.000000  78252.000000  78252.000000
mean   601092.963771      0.008755      0.001665      0.003407
std      1127.922839      0.156419      0.000549      0.067364
min    600000.000000     -0.804029      0.001241     -0.210376
25%    600333.000000     -0.065776      0.001241     -0.028105
50%    600685.000000     -0.002782      0.001241      0.004013
75%    601212.000000      0.066295      0.002466      0.031297
max    603999.000000      5.729560      0.002466      0.258075

In [16]:
df['Mretwd'] = df['Mretwd'].astype(float)
df['rf'] = df['rf'].astype(float)
df['rm'] = df['rm'].astype(float)

In [17]:
df.head()

    Stkcd      Trdmnt    Mretwd        rf        rm
0  600000  2013-01-01  0.157258  0.002466  0.064975
1  600000  2013-02-01 -0.036585  0.002466 -0.005045
2  600000  2013-03-01 -0.084087  0.002466 -0.066675
3  600000  2013-04-01 -0.024679  0.002466 -0.019148
4  600000  2013-05-01  0.059717  0.002466  0.065018

In [18]:
df.to_csv("merged.csv")